.Block {
    margin-bottom: 20px;
}

.Label {
    color: var(--white);
    font-size: clamp(16px, 5vw, 20px);
}

.Input, .Textarea {
    background-color: var(--white);
    border: 0;
    padding: 10px;
    color: var(--black);
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    font-size: clamp(16px, 5vw, 20px);
    box-sizing: border-box;
}

.Textarea {
    height: 150px;
    resize: none;
    vertical-align: top;
}

.Input:focus, .Textarea:focus {
    outline: none;
}

.InvalidField {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.InvalidField p {
    margin-left: 15px;
    color: var(--white);
    font-size: 16px;
}

.InvalidField img {
    width: 20px;
}