.Parent {
    margin-top: 55px;
    padding: 40px;
    /* width: 100%; */
}

.Projects {
    display: grid;
    place-items: center;
    margin-top: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px; 
    justify-items: center;
}