.CompetenceBlock {
    background-color: var(--light);
    padding: 20px;
    min-width: 300px;
    margin: 10px;
    flex: 1;
}

.CompetenceBlock h4{
    text-align: center;
}

.CompetenceBlock ul{
    text-align: center;
    list-style: none;
    padding-left: 0;
}

.Info {
    font-size: clamp(16px, 3vw, 18px);
    font-weight: bold;
    margin-left: 15px;
}

@media (min-width: 500px) {
    .CompetenceBlock {
        min-width: 300px;
    }
}