.CompetenceBlocks {
    display: flex;
    flex-wrap: wrap;
}

.CompetenceBlocks li {
    margin: 10px 0;
}

.Certifications {
    background-color: var(--dark);
    padding: 20px;
    margin-top: 30px;
}

.Certifications h4 {
    color: var(--main);
}