.Link {
    font-size: 22px;
}

.Active {
    color: var(--black);
    text-decoration: underline;
    text-underline-position: under;
}

.Active:hover {
    opacity: 1 !important;
    cursor: default !important;
}