.Item {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: grid;
    place-items: center;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
}

.Item:hover {
    opacity: 0.7;
}

.Item p {
    color: var(--white);
    font-size: 25px;
    text-align: center;
}

.DarkLayer {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: rgba(0,0,0,0.5);
}