.Certification {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--light);
    margin: 10px 0;
}

.Certification img {
    max-width: 100%;
    max-height: 300px;
}

.Name {
    font-size: clamp(18px, 5vw, 25px);
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Date {
    font-size: clamp(16px, 3vw, 18px);
    font-weight: bold;
    margin-left: 15px;
}

.Organization {
    margin-left: 20px;
}

.Certification button {
    margin-top: 20px;
}

@media (min-width: 600px) {
    .Certification img {
        max-width: 40%;
    }

    .Certification p {
        margin-left: 20px;
    }

    .Name {
        margin-top: 0;
    }

    .Certification button {
        margin-left: 20px;
    }    
}