.Parent {
    background: var(--light);
    padding: 10px;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 15px;
}

.Parent > h4 > a {
    margin-left: 20px;
    font-size: clamp(18px, 5vw, 25px);
    text-decoration: underline;
    text-underline-position: under;
}

.Description {
    white-space: pre-line;
    line-height: 30px;
    margin-top: 30px;
}

.Wrapper {
    margin-top: 20px;
}

@media (min-width: 1000px) {
    .Wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 20px;
    }

    .Description {
        /* order: 2; */
        margin-top: 0px;
    }

    .CarouselWrapper {
        grid-column: 1/3;
        place-self: center;
    }
}