.Parent {
    background-color: var(--dark);
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    padding: 20px;
    height: fit-content;
    margin: auto;
}

.Parent li {
    color: var(--white);
    font-size: clamp(16px, 5vw, 20px);
    margin-bottom: 10px;
}

@media (min-width: 1000px) {
    .Parent {
        margin: 0;
    }
}