.Desktop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}
.Mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.Navbar {
    background-color: var(--dark);
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Mobile.Open {
    height: 100%;
}

.LightMode a {
    color: var(--main);
}

.Logo img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.ToggleMenu{
    background-color: var(--dark);
    width: 100%;
    height: 100%;
}

.ToggleMenu>div {
    display: grid;
    -webkit-justify-content: left;
    justify-content: left;
    grid-gap: 30px;
    width: 100%;
    padding: 40px;
}

@media (min-width: 700px){
    .Desktop {
        display: grid;
        padding-top: 10px;
        padding-bottom: 10px;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        grid-gap: 20px;
        width: 100%;
        background: var(--white);
    }
    .Desktop.LightMode {
        background: none;
    }
    .Mobile {
        display: none;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}

