.Parent {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: min-content;
    height: min-content;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

.Caption {
    grid-column: 1 / 4;
    text-align: center;
    margin: 5px 0;
}

.Circles {
    grid-column: 1 / 4;
    place-self: center;

    display: flex;
    flex-flow: row;
    margin-top: 5px;
}

.Circles div{
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: var(--dark);
    border-radius: 100%;
    margin: 0 5px;
}

.Circles div.Active {
    background-color: var(--main);
}

.Image img {
    max-width: 210px;
    cursor: pointer;
}

.LeftArrow, .RightArrow {
    display: none;
}

@media (min-width: 500px){
    .Image img {
        max-width: 300px;
    }

    .LeftArrow, .RightArrow {
        display: block;
        cursor: pointer;
        width: 25px;
        height: 25px;
        margin: 0 15px;
    }
}

@media (min-width: 750px){
    .Image img {
        max-height: 500px;
        max-width: 500px;
    }
}