.Parent {
    padding: 60px;
}

.Photo {
    position: absolute;
    z-index: -900;
    /* width: 100%;
    height: 100%; */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("/assets/portrait.png");
    background-size: cover;
    background-position-x: -535px;
}

.Buttons {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.SocialMedia {
    margin-top: 20px;
}

.SocialMedia div {
    width: 15px;
    height: 15px;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    
    background-color: var(--dark);
    display: inline-block;
    border-radius: 100%;
    cursor: pointer;
}

.SocialMedia div:first-of-type{
    margin-left: 0;
}

.SocialMedia div:last-of-type{
    margin-right: 0;
}

.SocialMedia div:hover {
    background-color: var(--main);
}

.SocialMedia img {
    width: 100%;
}

@media (min-width: 900px) {
    .Buttons {
        margin-top: 120px;
    }

    .SocialMedia {
        margin-top: 50px;
    }
    
    .SocialMedia div {
        width: 20px;
        height: 20px;
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .Photo {
        background-position: right;
    }
}