* {
    --main:#B2FFD6;
    --dark:#3A405A;
    --light:#EFFEF9;
    --black: black;
    --white: white;

    font-family: 'Nunito', sans-serif;
    color: var(--dark);
}

body {
    margin: 0;
    position: relative;
}

p {
    margin: 0;
    font-size: clamp(16px, 5vw, 20px);
}

a {
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

a:hover {
    opacity: 0.7;
}

/* a:active {
    color: #EDEEF4;
} */

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

button.primary {
    background-color: var(--main);
    color: var(--dark);
    font-weight: bold;

    padding: 15px;
    font-size: 20px;
    width: 175px;
}

button.secondary {
    background-color: var(--dark);
    color: var(--white);

    padding: 15px;
    font-size: 18px;
    width: 170px;
}

button.primary.big {
    padding: 20px;
    font-size: 20px;
    width: 170px;
}

button.secondary.big {
    padding: 15px;
    font-size: 18px;
    width: 170px;
}

button.secondary > a {
    color: var(--light);
}

h1 {
    color: var(--main);
    margin-bottom: 0;
    font-size: clamp(40px, 15vw, 112px);
}

h2 {
    color: var(--main);
    margin-top: 20px;
    font-size: clamp(30px, 8vw, 65px);
}

h3 {
    color: var(--black);
    font-size: clamp(30px, 7vw, 50px);
    margin-bottom: 10px;
    margin-top: 0;
}

h4 {
    font-size: clamp(20px, 6vw, 35px);
    margin: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    color: var(--dark);
    font-size: clamp(20px, 6vw, 35px);
}

.subtitle > a {
    text-decoration: underline;
    text-underline-position: under;
}

.small-subtitle {
    color: var(--dark);
    font-size: clamp(18px, 5vw, 25px);
}

.section-wrapper {
    margin-top: 55px;
    padding: 20px;
}

@media (min-width: 500px) {
    button.primary.big {
        padding: 20px;
        font-size: 25px;
        width: 210px;
    }
    
    button.secondary.big {
        padding: 20px;
        font-size: 25px;
        width: 210px;
    }

    .section-wrapper {
        padding: 40px;
    }
}

@media (min-width: 900px) {
    button.primary.big {
        padding: 25px;
        font-size: 30px;
        width: 240px;
    }
    
    button.secondary.big {
        padding: 22px;
        font-size: 25px;
        width: 240px;
    }
}